/* Default CSS layout for narrow screens  */



/***** GENERAL STYLES *****/

* {
    /* setting width will include any padding and border; content will shrink to absorb any extra width */
    box-sizing: border-box;
    /* global reset: all elements will have a padding and margin on 0 unless specified later */
    margin: 0;
    padding: 0;
}

html {
    /* Equivalent to 10px */
    font-size: 62.5%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}



/***** GENERAL LAYOUT *****/




/***** HEADER AND NAVIGATION *****/

header {
    justify-content: space-between;
    padding: 2rem 2rem;
}

nav ul {
    display: flex;
    margin: 0;
}

nav li {
    padding: 0rem 0.6rem;
}

nav a {
    color: #8B8B8B;
    font-size: 1.4rem;
    font-weight: 400;
}

nav a:hover {
    color: #333;
    transition: all .4s ease-in-out;
}

.logo {
    color: #00A8A8;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
}

/***** MAIN CONTENT: INTRO BIO *****/

/***** MAIN CONTENT: MAIN PROJECTS *****/

/***** MAIN CONTENT: OTHER PROJECTS PREVIEW *****/

/***** FOOTER *****/


/* Landscape phones and tablets */
@media (min-width: 576px) {
    
    
    /***** HEADER AND NAVIGATION *****/

    
    
    /***** MAIN CONTENT: INTRO BIO *****/

    /***** MAIN CONTENT: MAIN PROJECTS *****/
    
    /***** MAIN CONTENT: OTHER PROJECTS PREVIEW *****/
    
    /***** FOOTER *****/
    
    
}





/* Laptops and desktops */
@media (min-width: 992px) {

    /***** HEADER AND NAVIGATION *****/

    
    
    /***** MAIN CONTENT: INTRO BIO *****/

    /***** MAIN CONTENT: MAIN PROJECTS *****/
    
    /***** MAIN CONTENT: OTHER PROJECTS PREVIEW *****/
    
    /***** FOOTER *****/
    
}