/* Default CSS layout for narrow screens  */



/***** GENERAL STYLES *****/

* {
    /* setting width will include any padding and border; content will shrink to absorb any extra width */
    box-sizing: border-box;
    /* global reset: all elements will have a padding and margin on 0 unless specified later */
    margin: 0;
    padding: 0;
}

html {
    /* Equivalent to 10px */
    font-size: 62.5%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
}

h2 {
    font-size: 2.2rem;
    margin-top: 0.4em;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.dark-teal {
    color: #00A8A8;
}

.light-teal {
    color: #76CBCA;
}

.dark-grey {
    color: #333;
}

.light-grey {
    color: #8B8B8B;
}

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 600;
}

.normal {
    font-weight: 400;
}

.light {
    font-weight: 300;
}

.extra-light {
    font-weight: 200;
}


/***** GENERAL LAYOUT *****/

.container {
    margin: 0.5em auto;
    max-width: 102em;
    width: 90%;
}

main {
    margin: 5em 0;
}

section {
    margin: 4em 0;
}


/***** HEADER AND NAVIGATION *****/

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

.logo, .navbar a {
    font-size: 1.4rem;
}

.logo {
    letter-spacing: 0.5rem;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    margin-left: 1.4em;
}


.navbar a:hover {
    color: #333;
    transition: all .4s ease-in-out;
}


/***** MAIN CONTENT: INTRO BIO *****/

.intro {
    font-size: 2.8rem;
    line-height: 3.8rem;
}

.intro a:hover {
    color: #9FDADA;
    transition: all .4s ease-in-out;
}


/***** MAIN CONTENT: MAIN PROJECTS *****/

.main-projects {
    margin-top: 7em;
}

.main-project {
    margin: 3em 0;
}

.main-project-image img {
    max-width: 100%;
}

.main-project-info {
    margin-top: 0.8em;
}

.tags {
    display: flex;
}

.tag {
    display: inline-block;
    font-size: 1rem;
    border-radius: 1em;
    padding: 0.2em 1em;
    margin-right: 1em;
}

.cocobot li {
    background-color: #F8F0FB;
    color: #BB6BD9;
}

.expedia li {
    background-color: #FFFCE8;
    color: #F2C94C;
}

.main-project-info p {
    font-size: 1.65rem;
    line-height: 2.5rem;
    margin-top: 0.4em;
}


/***** MAIN CONTENT: OTHER PROJECTS PREVIEW *****/

/***** FOOTER *****/


/* Landscape phones and tablets */
@media (min-width: 576px) {
    
    /***** GENERAL LAYOUT *****/
    .container {
        width: 80%;
    }
    
    /***** HEADER AND NAVIGATION *****/

    header {
        margin: 2.5em 0;
    }
    
    .navbar li {
        margin-left: 1.4em;
    }
    
    /***** MAIN CONTENT: INTRO BIO *****/

    /***** MAIN CONTENT: MAIN PROJECTS *****/
    
    /***** MAIN CONTENT: OTHER PROJECTS PREVIEW *****/
    
    /***** FOOTER *****/
    
    
}





/* Laptops and desktops */
@media (min-width: 992px) {

    /***** HEADER AND NAVIGATION *****/

    header {
        margin: 4em 0;
    }
    
    .logo, .navbar a {
        font-size: 1.8rem;
    }
    
    .navbar li {
        margin-left: 0.9em;
    }
    
    /***** MAIN CONTENT: INTRO BIO *****/

    /***** MAIN CONTENT: MAIN PROJECTS *****/
    
    /***** MAIN CONTENT: OTHER PROJECTS PREVIEW *****/
    
    /***** FOOTER *****/
    
}